/*  | |     ,_    _  | |  __       
 *  |/  |  /  |  |/  |/  /  \_/\/  
 *  |__/|_/   |_/|__/|__/\__/  /\_/
 *  |\               |\            
 *  |/               |/            
 *  
 */


@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Font */
#TabsToolbar * {
  font-family: "Fantasque Sans Mono" !important;
  font-size: 9pt !important;
}

/* God damn it */
#TabsToolbar {
  margin: 0 !important;
  padding: 0 !important;
}

.tabbrowser-tabs {
  padding: 0 !important;
  background-color: #151515 !important;
  color: #e0e0e0 !important;
}

/* Hide the new curved tab edges */
.tab-background {
  opacity: 0 !important;
}

/* Hide tab close button */
.tabbrowser-tabs .tab-close-button {
  display: none !important;
}

.tabbrowser-tabs .tab-icon-image ,
.tabbrowser-tabs .tab-throbber {
  margin-top: -1px !important;
}

/* Hide other buttons */
.tabbrowser-tabs *[class^="scrollbutton"] {
  display: none !important;
}

.tabbrowser-tabs *[class^="tabs-newtab-button"] {
  display: none !important;
}

/* Hide the little graphic seperator between inactive tabs */
.tabbrowser-tab:before,
.tabbrowser-tab:after {
  display: none !important;
}

.tabbrowser-tab {
  padding: 0 !important;
  margin: 0 !important;
  text-align: left !important;
}

.tabbrowser-tab[selected] {
  color: #e0e0e0 !important;
  background-color: Highlight !important;
  min-width: 400px !important;
}

.tabbrowser-tab:not([selected]) {
  max-width: 10px !important;
  min-width: 0px !important;
}

.tabbrowser-tab:not([selected]) .tab-text {
  display: none !important;
}
