/*  | |     ,_    _  | |  __       
 *  |/  |  /  |  |/  |/  /  \_/\/  
 *  |__/|_/   |_/|__/|__/\__/  /\_/
 *  |\               |\            
 *  |/               |/            
 *  
 */


@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* God damn it */
#TabsToolbar {
  margin-top: -2px !important;
  margin-bottom: 0px !important;
}

.tabbrowser-tabs {
  background: #101010 !important;
}

/* Hide the new curved tab edges */
.tab-background {
  opacity: 0 !important;
}

/* Hide tab close button */
.tabbrowser-tabs .tab-close-button {
  display: none !important;
}

/* Hide tab icons */
.tabbrowser-tabs .tab-icon-image {
  display: none !important;
}

/* Hide new tab button */
.tabs-newtab-button {
  display: none !important;
}

/* Hide the little graphic seperator between inactive tabs */
.tabbrowser-tab:before,
.tabbrowser-tab:after {
  visibility: hidden !important;
}

.tabbrowser-tab[selected] {
  color: #f4bf75 !important;
  background: #101010 !important;
}

