/*  | |     ,_    _  | |  __       
 *  |/  |  /  |  |/  |/  /  \_/\/  
 *  |__/|_/   |_/|__/|__/\__/  /\_/
 *  |\               |\            
 *  |/               |/            
 *  
 */


@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Font */
#TabsToolbar * {
  font-family: "Fantasque Sans Mono" !important;
  font-size: 9pt !important;
}

/* God damn it */
#TabsToolbar {
  margin: 0px !important;
}

.tabbrowser-tabs {
  margin-top: -1px !important;
  background-color: #151515 !important;
  color: #e0e0e0 !important;
}

.tabbrowser-tab {
  border-right: 1px dashed #505050 !important;
}

.tabbrowser-tab:last-child {
  border: none !important;
}

/* Hide the new curved tab edges */
.tab-background {
  opacity: 0 !important;
}

/* Hide tab close button */
.tabbrowser-tabs .tab-close-button {
  display: none !important;
}

.tabbrowser-tabs .tab-icon-image {
  display: none !important;
}

/* Hide other buttons */
.tabbrowser-tabs *[class^="scrollbutton"] {
  display: none !important;
}

.tabbrowser-tabs *[class^="tabs-newtab-button"] {
  display: none !important;
}

.tab-throbber {
  display: none !important;
}

/* Hide the little graphic seperator between inactive tabs */
.tabbrowser-tab:before,
.tabbrowser-tab:after {
  visibility: hidden !important;
}

.tabbrowser-tab[selected] {
  color: #6a9fb5 !important;
}

