dmenu
firefox
flashplugin
gimp
inkscape
lxappearance
mpv
nitrogen
scrot
slock
sxhkd
sxiv
termite
tint2
uim
volumeicon
wicd-gtk
xautolock
xclip
xdotool
xorg-server
xorg-xev
xorg-xfd
xorg-xfontsel
xorg-xgamma
xorg-xinit
xorg-xinput
xorg-xlsfonts
xorg-xmodmap
xorg-xprop
xorg-xrandr
xorg-xrdb
zathura
zathura-pdf-mupdf
zathura-ps
