!!-- Cursors
Xcursor.theme: Vanilla-DMZ

!!-- Colours
*background:              #121317
*foreground:              #a5a9b5
*fading:                  0
*fadeColor:               #0d0d0d
*cursorColor:             #dcdccc
*pointerColorBackground:  #161616
*pointerColorForeground:  #a5a5a5

*color0:                  #1e2d33
*color1:                  #802828
*color2:                  #909737
*color3:                  #b27d12
*color4:                  #1e5673
*color5:                  #642337
*color6:                  #196271
*color7:                  #99b3bd
*color9:                  #334d57
*color8:                  #8a3232
*color10:                 #9ca554
*color11:                 #ddb62b
*color12:                 #1e6a9a
*color13:                 #7d2d41
*color14:                 #197885
*color15:                 #99b3bd

!!-- urxvt
URxvt*scrollBar: false
URxvt*font: xft:lemon:antialias=false:pixelsize=10
URxvt*boldFont: xft:lemon:antialias=false:pixelsize=10
URxvt*internalBorder: 8
URxvt*highlightColor: #303030

!!-- urxvt perl select
URxvt.iso14755: false
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher:  /home/vixus/bin/www
URxvt.url-select.underline: true
URxvt.keysym.M-w: perl:url-select:select_next
URxvt.keysym.M-a: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste
URxvt.keysym.C-A-V: perl:clipboard:paste escaped

!!-- Other
dzen2.font: -*-lemon-*-*-*-*-10-*-*-*-*-*-*-*
dzen2.foreground: #f5f5f5
dzen2.background: #000000
dmenu.font: -*-lemon-*-*-*-*-10-*-*-*-*-*-*-*
dmenu.foreground: #f5f5f5
dmenu.background: #000000

!!-- xvkbd
xvkbd*Font: -*-lemon-*-*-*-*-10-*-*-*-*-*-*-*
XVkbd*beNiceToColormap: false
XVkbd*topShadowContrast: 40
XVkbd*bottomShadowContrast: 80
XVkbd*shadowWidth: 1
XVkbd*Label.shadowWidth: 0
XVkbd*MainMenu.shadowWidth: 0
XVkbd*MainMenu.topShadowContrast: 0
XVkbd*MainMenu.bottomShadowContrast: 0
XVkbd*Background: #151515
XVkbd*Text*background: #918477
XVkbd*specialBackground: #151515
XVkbd*focusBackground: #151515
XVkbd*remoteFocusBackground: #151515
XVkbd*Foreground: #918477
XVkbd*highlightBackground: #151515
XVkbd*highlightForeground: #DDCCBB
XVkbd*highlightThickness: 1
XVkbd*Form.resizable: true
XVkbd*defaultDistance: 0
XVkbd*Form.borderWidth: 0
XVkbd*Label.borderWidth: 0
XVkbd*Command.internalWidth: 2
XVkbd*Repeater.internalWidth: 2
XVkbd*Command.resize: false
XVkbd*Repeater.resize: false
XVkbd*Command.justify: center
XVkbd*Repeater.justify: center
xvkbd.windowGeometry: 500x150
xvkbd.keypad: false
